training_model/football-players-detection-1/
training_model/runs/

runs/detect/

training_model/yolov8x.pt

models/best.pt
models/last.pt

input/
# input/08fd33_4.mp4

# output/
# output/1.avi
# output/2.avi
# output/overlap_error.avi
# output/cropped_image.jpg

yolov8n.pt

